
    <% (0...9).each do |i| %>
      
      <div class="box<%= i %>" data-computer="<%= computer %>" data-board_position="<%= board_position %>" data-game="<%= game_id %>" data-player="<%= last_player_move %>" data-class="<%= box_class(i) %>" >
        <%= link_to '', ttt_moves_path(@ttt, :player_move => 2 ** (8-i  )), :method => :post , remote: true %>
        <div class="<%= box_class(i) %> piece">
            <svg height="100%" width="100%" >
              <line x1="0" y1="0" x2="100%" y2="100%"  />
              <line x1="100%" y1="0" x2="0" y2="100%"  />
            </svg>
        </div>
      </div>
    
    <% end %>
      
      <% if @ttt.winner %>
        <p class="winner"><%= winner_name(@ttt) %></p>
      <% end %>

     





