



<div class="players">

  <div class="<%= active_player(1) %> player_one"><%= player_one %><%= render :partial => '/layouts/nought' %></div>
  <div class="vs">Vs.</div>
  <div class="<%= active_player(2) %> player_two"><%= render :partial => '/layouts/cross' %><%= player_two %></div>
</div>




  <div class="game_container">
    <%= render partial: '/ttts/board' %>
  </div>






