
 <h1>Sign In</h1>

  <%= form_tag sessions_path do %>
      <div class="field">
      <%= label_tag :email %><br /><br />
      <%= text_field_tag :email, params[:email] %>
      </div>
   
      <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
      </div>

      <div class="field">
      <%= submit_tag "Log in" %>
      </div>
 
  <% end %>

    <% if errors.any? %>
      <div class="errors">
         
          <p><%= errors[:base].first %></p>
      </div>
      <% end %>
    <% if flash.any? %>
        <div class="flash">
          <% if flash[:welcome] %>
                 <p><%=  flash[:welcome] %></p><br />
                 <p><%= welcome_message %></p>
            <% else %>
              <% flash.each do |name, msg| %>
               <%= content_tag :p, msg, :id => "flash_#{name}" %>
              <% end %>
            <% end %>
        </div>
    <% end %>
  <%= link_to 'Back', root_path %>