<h1>Challenges</h1>



<table class="challenge">

  <th>
    <a href="#" class="toggle">User
    <%= search_form_for @q, class: "search_box", url: challenges_path(current_user) do |f| %>
      <p>
        
        <%= f.text_field :name_cont %>
      </p>
      <p>
          <%= f.submit %>
          

      </p>

  <% end %>
   </a>
  <% if params[:q] %>
   <%=  button_to 'Clear', challenges_path(current_user), method: :get  %>
   <% end %>

  </th>
  <th>
    Challenge Status
  </th>
  <% @users.each do |user| %>
    <% unless user == current_user %>
      <tr>
        <td><%= user.name.capitalize %></td> 
      <% if Ttt.live_game(user.id, current_user.id).any? %>
            <td><%= link_to 'Game in progress', ttt_path(Ttt.live_game(user.id, current_user.id).last) %></td>

      <% elsif @to_message_ids.include?(user.id) %>
        <td>Challenge sent</td>
      <% elsif message_from(user, current_user).any?  %>
      
            <td><%= link_to 'Accept challenge', new_ttt_path(player_two: user) %> </td> 
      <% else %>
        <td><%= link_to 'Challenge user',  user_messages_path(user), method: :post %></td>
      <% end %>
      </tr>
  <% end %>
<% end %>
</table>




