

<h1>4096 </h1>
<div class="numbcont">

<% 16.times do |i| %>
  <div class="col<%= @numb["s" + (i+1).to_s] %>"> 
    <%= @numb["s" + (i+1).to_s] %></div>

<% end %>

<%= link_to numb_path(@numb, dir: 'l'), method: :put do  %>
  <div class="cont_left"></div>
<% end %>
<%= link_to numb_path(@numb, dir: 'r'), method: :put do  %>
  <div class="cont_right"></div>
<% end %>
<%= link_to numb_path(@numb, dir: 'u'), method: :put do  %>
  <div class="cont_up"></div>
<%= link_to numb_path(@numb, dir: 'd'), method: :put do  %>
  <div class="cont_down"></div>
<% end %>
<% end %>

</div>
</div>
<div>
<p class="score">Score: <%= @numb.score %></p>

<%= button_to "new game", numbs_path %> 
</dvi>