

<div class="left_menu">
<ul>
  
  <li>
      <b>Play Tic Tac Toe</b></li>
        <li><%= link_to "Play  vs computer", new_ttt_path(computer: :true) %></li>
        <li><%= link_to "Play vs Player 2", new_ttt_path %></li>
        <li><%= link_to challenges_path(current_user) do %>
              <div class="notif_anchor">Challenges
              <% if current_user.challenges.count > 0 %>
              <div class="notification"><%= current_user.challenges.count %></div>
              <% end %>
            </div>
              
              <% end %> 
        </li>
        <% if @noleftmenu %>
          <li>
              <%= link_to games_path(current_user) do %>
                <div class="notif_anchor">Live Games
                <% if live_games > 0 %>
                  <div class="notification"><%= live_games %></div>
                <% end %>
                </div>
              <% end %>
          </li>
        <li>
           <%= link_to  'Scoreboard', scoreboard_path(current_user) %>
          </li>
        <% end %>
     </ul>   
   
    <% if errors.any? %>
      <div class="errors">
         
          <p><%= errors[:base].first %></p>
      </div>
      <% end %>
    <% if flash.any? %>
        <div class="flash">
          <% if flash[:welcome] %>
                 <p><%=  flash[:welcome] %></p><br />
                 <p><%= welcome_message %></p>
            <% else %>
              <% flash.each do |name, msg| %>
               <%= content_tag :p, msg, :id => "flash_#{name}" %>
              <% end %>
            <% end %>
        </div>
    <% end %>
  
</div>


