

<div class="right_menu">

       <ul>
  
  <li><b><%= current_user.name.capitalize %>'s Score</b></li>
  <table> 
    <tr>
    <th>P</th><th>W</th><th>D</th><th>L</th>
    </tr>
    <tr id="sidescoreboard" data-played="<%= games_played %>" >
      <%= render partial: '/ttts/sidescoreboard' %>  
    </tr>
  </table>
</li>
<li>
  <%= link_to 'Full Scoreboard', scoreboard_path(current_user) %>
  </li>
        <li><%= link_to games_path(current_user) do %>
              <div class="notif_anchor">Live Games
                  <% if live_games > 0 %>
                    <div class="notification" id="live_games"><%= live_games %></div>
                  <% else %>
                    <div class="notification hide" id="live_games"><%= live_games %></div>
                  <% end %>
            </div>
              
              <% end %> 
        </li>

  </ul>

</div>


