<!DOCTYPE html>
<html>
<head>
  <title>SirrahGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
 <nav>
 <% if current_user %>
       <div class="loginstatus loggedin">       
        <p>Hello <%= current_user.name.capitalize %> </p>

        <%= link_to 'Logout', session_path(0), method: :delete, :class => "logout"  %>
        <%= link_to 'Settings', edit_user_path(current_user), :class => "logout"  %>
        <%= link_to '4096', numbs_path(current_user), :class => "logout"  %>

         <%= image_tag current_user.image_url(:thumb), class: "profile-pic" if current_user.image? %>
        
        </div>
 <% else %>
      <div class="loginstatus loggedout"> 
        <%= link_to 'Sign in', new_session_path %>
        <%= link_to 'Sign up', new_user_path %>
        </div>
      <% end %>

</nav>

<% unless @noleftmenu %>
  <%= render partial: 'layouts/leftmenu' %>  
<% end %>

<% unless @noleftmenu %>
  <%= render partial: 'layouts/rightmenu' %>  
<% end %>



<main>
<%= yield %>
</main>
<div>
</body>
</html>
